@model Library.Models.Patrons.PatronsIndexModel;
@***------------The Patrons Collection Class-----------------***@

@{
	ViewData["Title"] = "Patrons Index";
}

<h3 style="padding:10px;">@ViewData["Title"]</h3>
<div id="patronIndex">
	<table class="mdl-data-table mdl-card-js-data-table mdl-data-table--selectable mdl-shadow--2dp customTable">
		<thead>
			<tr>
				<th>Profile Link</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Library Card Id</th>
				<th>Overdue Fees</th>
				<th>Library Branch Name</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var patron in Model.patrons) { 
				<tr>
					<td>
						<a asp-controller="Patrons" asp-action="PatronDetails" asp-route-id="@patron.id">Profile</a>
					</td>
					<td>@patron.firstName</td>
					<td>@patron.lastName</td>
					<td>@patron.libraryCardId</td>
					<td>@patron.overdueFee</td>
					<td id="custom-patron-libraryBranchName">@patron.libraryBranchName</td>
				</tr>
			}
		</tbody>
	</table>
</div>
@* ---------- Un-Done

<div class="row">
	<a class="btn btn-lg btn-info" id="patron-index-createPatron" asp-controller="CreatePatron" asp-action="Index">Add Patron</a>
</div>
*@

